@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --breakpoint-xs: 500px;
    --breakpoint-sm: 600px;
    --breakpoint-md: 690px;
    --breakpoint-lg: 988px;
    --breakpoint-xl: 1078px;
    --breakpoint-2xl: 1265px;
    --color-textCustom: #71767b;
    --color-textCustomDark: #281615;
    --color-borderCustom: #2f3336;
    --color-inputCustom: #202327;
    --color-iconBlue: #1d9bf0;
    --color-iconGreen: #00ba7c;
    --color-iconPink: #f91880;
    --color-hoverCustom: #e7e7e7;
    --color-postInfo: white;
    --color-textDarkMode: var(--foreground);
}

:root {
    --background: #ededed;
    --foreground: black;
}

.dark {
    --background: black;
    --foreground: #ededed;
    --color-hoverCustom: #181818;
    --color-postInfo: black;
    --color-textCustomDark: #e7e9ea;
}
